{% extends 'base.html' %}

{% block title %}{{article.title}}{% endblock title %}

{% block header %}{{article.title}}{% endblock header %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{{article.feature.get_abolute_url}}">{{article.feature}}</a></li>
<li class="breadcrumb-item active">{{article.title}}</li>
{% endblock breadcrumbs %}


{% block body %}
<div class="col-lg-8 offset-lg-2">
    <div class="card">
        <div class="card-header">
            <h4>{{article.caption}}</h4>
        </div>

        <div class="card-body">
            <p>{{article.description|linebreaks}}</p>
        </div>


        <div class="card-footer">
            {% if article.feature.call %}
                <a  class="btn btn-block btn-outline-danger" href="tel:{{article.feature.call}}"></i> {{article.feature.call}}</a>
            {% endif %}
            {% if article.feature.email %}
                <a  class="btn btn-block btn-outline-danger" href="mailto:{{article.feature.email}}"></i> {{article.feature.email}}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
